<% block('title').append('<title>Show Comment</title>') %>
<%- layout('boilerplate') %>
<h1>Comment by <%= comment.author.username %></h1>
<h2>Comment: <%= comment.body %></h2>
<form action="/users/<%= comment.author._id %>/comments/<%= comment._id %>/edit" method="get">
    <button>Edit</button>
</form>
<form action="/users/<%= comment.author._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>
<form action="/users/<%= comment.author._id %>" method="get">
    <button>View Profile</button>
</form>
<form action="/comments">
    <button>View All Comments</button>
</form>