<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment ID <%= id %></title>
</head>
<body>
    <h1>Comment ID <%= id %></h1>
    <h2>Username: <%= username %></h2>
    <h2>Comment: <%= comment %></h2>
    <form action="/comments/<%= id %>/edit" method="get">
        <button>Edit</button>
    </form>
    <form action="/comments/<%= id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <form action="/comments" method="get">
        <button id="main-page">Main Page</button>
    </form>
</body>
</html>